.bttn .button0 {
    background: #01b810d9;
    border: none;
    border-radius: 9px;
    height: 45px;
    color: white;
}

.bttn .button0 :hover {
    background: #059f02
}

.bttn1 .button04 {
    background: #01b810d9;
    border: none;
    border-radius: 9px;
    height: 45px;
    color: white;
    margin-left: 50%;
}

.bttn1 .button04:hover {
    background: #059f02;
}