.default-layout{
    display: grid;
    grid-template-rows: 65px auto 3rem;
    grid-template-areas: 
    "header"
    "main"
    "footer"
}

header{
    grid-area: header;
    background: #01b810d9;
    color: white;
}
main{
    grid-area: main;
    min-height: 88vh;
}
footer{
    grid-area: footer;
    background: #059f02;
    padding: 1rem;
    color: white;
}

.mt-3{
    color: #059f02;
    font-weight: bold;
}

.text-right .buttonR {
    background: #01b810d9;
    border: none;
    border-radius: 9px;
    height: 45px;
    width: 80px;
    color: white;
    margin-top: 20px;
    margin-left: 80%;
}

.text-right .buttonR:hover {
    background: #059f02;
}